<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>DemoApp</display-name>
	<!-- <servlet>
	<servlet-name>
	abc
	</servlet-name>
	<servlet-class>
	com.dev.learning.AddServlet
	</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>
	abc
	</servlet-name>
	
	<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	............................
	<servlet>
	<servlet-name>
	xyz
	</servlet-name>
	<servlet-class>
	com.dev.learning.SquareServlet
	</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>
	xyz
	</servlet-name>
	
	<url-pattern>/sq</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>my</servlet-name>
    <servlet-class>com.dev.learning.MyServlet</servlet-class>
    <init-param>
    <param-name>
    name
    </param-name>
    <param-value>
    laukik
    </param-value>
    </init-param>
</servlet>

<servlet-mapping>
    <servlet-name>my</servlet-name>
    <url-pattern>/my</url-pattern>
</servlet-mapping>
	
	
	.............................
	
	<context-param>
	<param-name>name</param-name>
	<param-value>Saurabh Dev</param-value>
	</context-param>
	<context-param>
	<param-name>Phone</param-name>
	<param-value>Motorola</param-value>
	</context-param>
	.................................
	 -->
	
</web-app>
